.idea
.vscode

*.log
.DS_STORE
/.eslintcache
/docs/.next
/.nyc_output
/coverage
/docs/export
/examples/**/.cache
/test/regressions/screenshots
/test/selenium-output
/tmp
build
node_modules
package-lock.json
size-snapshot.json
yarn.lock
